@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.nav-body{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    width: 90%;
    height: 50px;
    background-color:#EEB118;
    overflow: hidden;
    position: fixed;
    top: 10px;
    z-index: 1;
    box-shadow: 0px 5px 5px grey;
    border-radius: 40px;
    margin-left:5%;
    margin-right: 5%;
    padding: 0px;
}
.navbody{
    font-size: large;
    display: flex;
    width: 100%;
    margin-top: 12.5px;
    justify-content: center;
    text-align: center;
}
a{
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    text-align: center;
}
.navbody a:hover{
    color: red;
    transition: color 1s;
}